# Dependencies
node_modules

# Source
src

# Git
.gitignore
.github

# NPM
.npmignore
.npmrc

# Prettier
.prettierrc

# Temporary
temp

# Typescript
tsconfig.json
tsup.config.ts

# Other files
pnpm-lock.yaml
